<app-header></app-header>

<router-outlet></router-outlet>

    <!-- <div class="da-page">
        <div class="da-page__header">
            <header class="da-header">
                <h1 class="da-header__title">EngagePoint Lunch</h1>
            </header>
        </div>
        <div class="da-page__content">
            <nav class="da-nav">
                <a class="da-nav__home" ui-sref="home"><img class="da-nav__img" src="../assets/img/logo.svg"></a>
                <div class="da-nav__navigation">
                    <ul class="da-navigation">
                        <li class="da-navigation__item">
                            <a class="da-navigation-link" ui-sref="menu">
                                <span class="da-navigation-link__title">Menu</span>
                            </a>
                        </li>
                        <li class="da-navigation__item">
                            <a class="da-navigation-link" ui-sref="users">
                                <span class="da-navigation-link__title">Users</span>
                            </a>
                        </li>
                        <li class="da-navigation__item">
                            <a class="da-navigation-link" ui-sref="orders">
                                <span class="da-navigation-link__title">Orders</span>
                            </a>
                        </li>
                        <li class="da-navigation__item">
                            <a class="da-navigation-link" ui-sref="order">
                                <span class="da-navigation-link__title">Order</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="da-main" ui-view>
            </main>
            <!--<main class="da-main" ng-controller="DbInfo as db">-->

            <!--</main>-->
        <!-- </div>
        <div class="da-page__footer">
            <footer class="da-footer">

            </footer>
        </div>
    </div> -->
