<!-- <div class="da-main__add-menu">
    <button type="button" class="da-btn_add da-btn" ng-click="vm.show=!vm.show">Add menu</button>
</div>

<div class="da-main__menu-popup">
    <form class="da-menu-popup">
        <div class="da-menu-popup__close">
            <button type="button" class="da-btn da-btn_close">X</button>
        </div>
        <div class="da-input">
            <label class="da-input__label">
                File:
            </label>
            <input type="file" name="menu" class="da-input__input">
        </div>
        <div class="da-menu-popup__submit">
            <input type="submit" class="da-input__submit" value="Send">
        </div>
    </form>
</div> -->

